h1 {
    color: purple; 
    text-align: center;
}

#h2 {
    font-size: 2em; 
}

.cat {
  color: black;
  font-family: 'times new roman';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-variant: normal;
}


a:hover {
  background-color: green;
}

div {
  width: 300px;
  border: 15px solid grey;
  padding: 50px;
  margin: 20px;
  overflow: hidden;
}